body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.scoreboard-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    background-color: #333;
    font-size: 2.5vh;
}
.header h1, .header p {
    margin: 0;
}
.header .logo {
    font-size: 3vh;
    font-weight: bold;
}
.alliance-columns {
    display: flex;
    width: 100%;
    flex-grow: 1;
}
.red-alliance, .blue-alliance {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}
.red-alliance {
    background-color: #ED1C24;
}
.blue-alliance {
    background-color: #0066B3;
}
.vs-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    font-weight: bold;
    text-shadow: 0.2vh 0.2vh 0.4vh #000;
}
.team-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 2vw;
    margin-bottom: 1.5vh;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
    font-size: 2.5vh;
}
.team-info {
    display: flex;
    align-items: center;
}
.team-info .team-number {
    font-size: 5vh;
    font-weight: bold;
    margin-right: 2vw;
}
.team-info .team-name {
    font-size: 4vh;
}
.team-score {
    font-size: 5vh;
    font-weight: bold;
}
.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    background-color: #333;
    font-size: 2.5vh;
}
.card-label {
    background-color: #f7d201;
    color: #000;
    padding: 0.5vh 1vw;
    border-radius: 0.5vh;
    font-size: 2vh;
    font-weight: bold;
    margin-left: 1vw;
}